@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

/*Global styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}

.big-container{
    width: 89%;
    margin: auto;
}

.small-container{
    width: 60%;
    margin: auto;
}

.white-text{
    color: #fffafa;
}

/*Header*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}

#logo{
    max-width: 101px;
}

.header-nav ul{
    list-style: none;    
}

.header-nav li{
    display: inline-block;
    text-transform: uppercase;  
    margin: 0 12px;
    padding: 7.5px 0;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2.4px;
}

.header-nav li a{
    text-decoration: none;
    color: #000000;
}

/*Showcase*/
#showcase{
    height: 115vh;
   /* width: 100vw;*/
    background-image: url(../img/showcase.png);
    background-position: center;
    background-size: cover;
}

.showcase-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 50px 0 17px 0;
}

.showcase-heading{
    margin-bottom: 15px;
}

.showcase-heading h1{
    text-align: center;
    width: 500px;
    font-size: 49px;
    font-weight: bold;
    letter-spacing: 5.88px;
    line-height: 53.9px;
}

.showcase-buttons{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showcase-button{
    margin: 18px 0;
    padding: 25px 46px;
    border: 2px solid white;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    letter-spacing: 2.4px;
}

/*Announcement*/
.announcement{
    background-color: #4a89be;
    height: 485px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/*Our Story*/
.our-story{
    height: 240px;
    background-color: #f7f7f7;
}

.our-story h2{
    text-align: center;
    padding: 25px 0;
    font-size: 3.2em;
    letter-spacing: 5px;
}

.our-story p{
    margin-top: 10px;
    font-size: 17px;
    letter-spacing: 0.85px;
    line-height: 29.75px;
}

/*Recording the future*/
.future-container{
    background-color: #4a89be;
    height: 265px;
    margin-top: 0;
}

.recording-the-future h2{
    text-align: center;
    padding: 25px 0;
    font-size: 3.2em;
    letter-spacing: 5px;
}

.recording-the-future p{
    margin-top: 10px;
    font-size: 17px;
    letter-spacing: 0.85px;
    line-height: 29.75px;
}

/*Values*/
.values-container{
    background-color: #f7f7f7;
    height: 265px;
}

.our-values h2{
    text-align: center;
    padding: 25px 0;
    font-size: 3.2em;
    letter-spacing: 5px;
}

.our-values p{
    margin-top: 10px;
    font-size: 17px;
    letter-spacing: 0.85px;
    line-height: 29.75px;
}

/*Values Grid*/
.values-grid-container{
    background-color: #f7f7f7;
    margin-bottom: 50px;
}

.values-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 35px;
    height: 40vh;
   
}

.grit-image{
    background-image: url(../img/grit.jpg);
    background-position: center;
    background-size: cover;
    
}

.curiosity-image{
    background-image: url(../img/curiosity.png);
    background-position: center;
    background-size: cover;
}

.ubuntu-image{
    background-image: url(../img/ubuntu.png);
    background-position: center;
    background-size: cover;
}
.responsibility-image{
    background-image: url(../img/responsibility.png);
    background-position: center;
    background-size: cover;
}

/*Top Tech Talent*/
.tech-talent-container{
    background-color: #229496;
    height: 380px;
    margin-top: 0;
}

/*Stats*/
.stats-container{
    background-color: #939394;
    height: 327.297px;
}

.stats{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
    padding-top: 50px;
}

.grid-stat h2{
    font-size: 90px;
    font-weight: normal;
    text-align: center;
    letter-spacing: 5px;
}

.grid-stat p{
    font-size: 24px;
    font-weight: normal;
    line-height: 40.8px;
    letter-spacing: 1.2px;
    margin-top: 15px;
    text-align: center;
}
/*Group image*/
.group-image{
    width: 100%;
    margin-bottom: -3.8px;
    padding: 0;
}

