/*Global styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.big-container{
    width: 89%;
    margin: auto;
}

.small-container{
    width: 60%;
    margin: auto;
}

/*Header*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}

#logo{
    max-width: 101px;
}

.header-nav ul{
    list-style: none;    
}

.header-nav li{
    display: inline-block;
    text-transform: uppercase;  
    margin: 0 12px; 
}

.header-nav li a{
    text-decoration: none;
    color: #000000;
}

/*Showcase*/
#showcase{
    height: 115vh;
   /* width: 100vw;*/
    background-image: url(../img/showcase.png);
    background-position: center;
    background-size: cover;
}

.group-image img{
    width: 100%;
}